/* Fonts and Spacing */
article p, article li, article li.build, section p, section li{
font-family: 'Open Sans','Helvetica', 'Crimson Text', 'Garamond', 'Palatino', sans-serif;
text-align: justify;
font-size:18px;
line-height: 1.5em;
color: #444;
}

